@import url('https://fonts.googleapis.com/css?family=Amaranth');
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');


/* 
==========================================================================
 = Start of Note Card =
==========================================================================
*/

.note{
    width: 14rem;
    height: 14rem;
    border-radius: 10px;
    transition: all .2s ease;
    background: transparent;
    box-shadow: 0 0 10px 0 #000000;
}
.note:hover{
    scale: 1.025;
}
.note-header{
    /* gap: 6rem; */
    height: 2rem;
    padding-left: .5rem;
    padding-right: .5rem;
    align-items: center;
    background-color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    justify-content: space-between;
    box-shadow: 0 2px 5px 0 #000000;
}
.note-header h4{
    font-size: 16px;
}
#trash-svg,
#editpencil-svg{
    width: 26px;
}
#trash-svg:hover,
#editpencil-svg:hover{
    scale: 1.2;
}
.note-body{
    width: stretch;
    padding: .5rem;
    height: fit-content;
}
.note-title{
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    font-family: 'Amaranth';
}
.note-content{
    margin: 0;
    line-clamp: 7;
    color: #000000;
    overflow: hidden;
    margin-top: .5rem;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    word-wrap: break-word;
    font-family: 'Amaranth';
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

/* 
==========================================================================
 = Start of Modify Note Modal =
==========================================================================
*/
.modify-note-container{
    z-index: 10;
    width: 100%;
    height: stretch;
    position: fixed;
    background-color: rgb(0, 0, 0, .7);
}
.modify-note-box{
    width: 30rem;
    height: 23rem;
    padding: 2rem;
    border-radius: 10px;
    background-color: #ffffff;
    animation: modify-note-intro 1s forwards;
}
@keyframes modify-note-intro{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);
    }
}
.modify-note-box form{
    height: 100%;
}
.modify-note-box h1{
    margin: 0;
    font-size: 30px;
    color: #000d47;
    letter-spacing: 2px;
    font-family: 'Luckiest Guy';
}
.modify-note-box input[type='text']{
    width: 80%;
    height: 30px;
    padding: 4px;
    opacity: .5;
    font-size: 20px;
    border-radius: 5px;
    font-family: 'Amaranth';
    border: 3px solid #000d47;
    box-shadow: 0 0 2px 0px #000d47;
}
.modify-note-box input:focus{
    opacity: 1;
    transition: all .5s ease;
}
.modify-note-box:focus::placeholder{
    opacity: 0;
    color: #000000;
    transition: all .5s ease;
}
.modify-note-box textarea{
    width: 95%;
    height: 40%;
    padding: 4px;
    opacity: .5;
    resize: none;
    font-size: 20px;
    border-radius: 5px;
    font-family: 'Amaranth';
    border: 3px solid #000d47;
    box-shadow: 0 0 2px 0px #000d47;
}
.modify-note-box textarea:focus{
    opacity: 1;
    transition: all .5s ease;
}
.modifynote-colors-container{
    gap: 1rem;
    height: 1.5rem;
    padding: 4px;
}
.modify-note-box input[type='checkbox']{
    width: 0;
    height: 0;
    opacity: 0;
}
.modifynote-color{
    right: 1.5rem;
    position: relative;
    transition: .4s;
    border-radius: 40px;
}
.modifynote-color::before{
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    border-radius: 40px;
    box-sizing: border-box;
    background-color: var(--modifynote-color-selector);
}
.modifynote-color:hover{
    scale: 1.2;
}
#modifynote-color-selected::before{
    border: 3px solid #000000;
    transition: all .2s ease;
}
#modifynote-color-default::before{
    border: 1px solid #000000;
    transition: all .2s ease;
}

/* 
==========================================================================
 = Start of Dark mode Colors =
==========================================================================
*/

#darkmode.note{
    background-color: #353a44;
}
#darkmode .note-title,
#darkmode .note-content{
    color: #ffffff;
}

/* 
==========================================================================
 = Start of Light mode Colors =
==========================================================================
*/

#lightmode.note{
    background-color: #ffffff;
}

/*
===========================================================
@Media's for devices
=========================================================== 
*/

@media only screen and (max-width: 1024px){
    .modify-note-box{
        width: 80%;
    }
    .modifynote-colors-container{
        gap: .88rem;
    }
}
@media only screen and (max-width: 527px){
    .note{
        width: 16rem;
        height: unset;
    }
}