@import url('https://fonts.googleapis.com/css?family=Carter+One');

html, body, .App, #root{
  z-index: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* 
==========================================================================
 = Start of Universal styling =
==========================================================================
*/

.display-none{
  display: none;
}
.flex{
  display: flex;
}
.flex-center-all{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-start{
  justify-content: flex-start;
}
.flex-column{
  flex-direction: column;
}
.flex-row{
  flex-direction: row;
}
.pointer{
  cursor: pointer;
}
.font-carter-one{
  font-family: Carter One;
}